{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <h1>Welcome to my Music Page</h1>
        
        <h4>Professional Bass Player</h4>
        <div class="row" id="projects-div">
            <div class="col-md-12">
                <h5 class="mt-4 mb-4">Some of my projects:</h5>
                <ul class="list-group">
                    <li class="list-item">Scala &amp; Kolacny Brothers</li>
                    <li class="list-item">Hooverphonic with Belgian Session Orchestra</li>
                    <li class="list-item">The Very Big Band</li>
                </ul>    
            </div>
        </div>
        
    </div>
{% endblock %}


{% block stylesheets %}
{% endblock %}